
<web-app>
    <display-name>BankApp</display-name>

    <filter>
        <filter-name>ApiAccessFilter</filter-name>
        <filter-class>com.bank.filter.ApiAccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.bank.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
    	<session-timeout>30</session-timeout> 
    </session-config>
    
</web-app>