<div class="container">

    <div class="transfer-nav">
  <button onclick="switchForm('internal', this)" class="nav-btn active">Internal Transfer</button>
  <button onclick="switchForm('external', this)" class="nav-btn">External Transfer</button>
</div>

<form id="transferForm" class="form-wrapper">
  <h2 class="form-heading" id="transferFormTitle">Internal Transfer</h2>

  <div class="form-group">
    <select id="fromAccount" name="accountId" required></select>
    <label for="fromAccount"></label>
  </div>

  <div class="form-group">
    <input type="number" id="toAccount" name="transactAccountId" required />
    <label for="toAccount">To Account</label>
  </div>

  <div class="form-group" id="receiverBankGroup" style="display: none;">
    <input type="text" id="receiverBank" />
    <label for="receiverBank">Receiver Bank Name</label>
  </div>

  <div class="form-group" id="receiverIfscGroup" style="display: none;">
    <input type="text" id="receiverIfsc" />
    <label for="receiverIfsc">Receiver Bank IFSC</label>
  </div>

  <div class="form-group">
    <input type="number" id="amount" name="amount" required />
    <label for="amount">Amount</label>
  </div>

  <button type="submit" class="form-submit-btn" id="transferSubmitBtn">Transfer</button>
</form>
    

  </div>

  <div id="passwordModal" style="display: none;" class="modal-overlay">
    <div class="modal-box">
      <h3>Confirm Password</h3>
     <div class="password-wrapper">
  	<input type="password" id="confirmPassword" aria-label="Enter your password" placeholder="Enter your password" />
  	<i id="togglePassword" class="bx bx-hide" onclick="togglePasswordVisibility()"></i>
	</div>

      <div class="modal-buttons">
        <button type="button" onclick="closeModal()">Cancel</button>
        <button type="button" onclick="window.submitTransfer()">Confirm</button>
      
      </div>
    </div>
  </div>

  <div id="toast-container" style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;"></div>