<div class="container">
    <div class="transfer-nav">
      <button onclick="switchForm('internalTransferForm', this)" class="nav-btn active">Internal Transfer</button>
      <button onclick="switchForm('externalTransferForm', this)" class="nav-btn">External Transfer</button>
    </div>

    <form id="internalTransferForm" class="form-wrapper">
      <h2 class="form-heading">Internal Transfer</h2>
      <div class="form-group">
        <select id="fromAccount" name="accountId" required></select>
        <label for="fromAccount"></label>
      </div>
      <div class="form-group">
        <input type="number" id="toAccount" name="transactAccountId" required />
        <label for="toAccount">To Account</label>
      </div>
      <div class="form-group">
        <input type="number" id="amount" name="amount" required />
        <label for="amount">Amount</label>
      </div>
      <button type="submit" class="form-submit-btn">Submit</button>
    </form>

    <form id="externalTransferForm" class="form-wrapper" style="display: none; opacity: 0;">
      <h2 class="form-heading">External Transfer</h2>
      <div class="form-group">
        <select id="extFromAccount" required></select>
        <label for="extFromAccount"></label>
      </div>
      <div class="form-group">
        <input type="number" id="extToAccount" required />
        <label for="extToAccount">To Account</label>
      </div>
      <div class="form-group">
        <input type="text" id="receiverBank" required />
        <label for="receiverBank">Receiver Bank Name</label>
      </div>
      <div class="form-group">
        <input type="text" id="receiverIfsc" required />
        <label for="receiverIfsc">Receiver Bank IFSC</label>
      </div>
      <div class="form-group">
        <input type="number" id="extAmount" required />
        <label for="extAmount">Amount</label>
      </div>
      <button type="submit" class="form-submit-btn">Submit External</button>
    </form>
  </div>

  <div id="passwordModal" style="display: none;" class="modal-overlay">
    <div class="modal-box">
      <h3>Confirm Password</h3>
     <div class="password-wrapper">
  	<input type="password" id="confirmPassword" aria-label="Enter your password" placeholder="Enter your password" />
  	<i id="togglePassword" class="bx bx-hide" onclick="togglePasswordVisibility()"></i>
	</div>

      <div class="modal-buttons">
        <button type="button" onclick="closeModal()">Cancel</button>
        <button type="button" onclick="window.submitTransfer()">Confirm</button>
      
      </div>
    </div>
  </div>

  <div id="toast-container" style="position: fixed; top: 1rem; right: 1rem; z-index: 9999;"></div>